html,
body {
    margin: 0;
    width: 100%;
}

.wrap * {
    position: relative;
}

div,
figure,
.group,
dt,
dd,
ul,
li,
ol,
p,
h1,
h2,
h6 {
    padding: 0;
    margin: 0;
}

ol,
ul,
li,
.group,
dt,
dd {
    list-style: none;
}

h1,
h2,
p,
span {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: #000;
}

.area{
    max-width: 1280px;
    margin: 0 auto;
}

/* .wrap {
    max-width: 1300px;
    margin: 0 auto;
} */

.area {
    padding: 0 10px;
}

.section {
    margin-top: 56px;
    margin-bottom: 148px;
}

.gnb_bar ul,
.col {
    display: flex;
}

.gnb_bar>.area {
    justify-content: space-between;
}

.gnb_bar {
    border-bottom: 1px solid #555;
}

.gnb_bar li {
    padding: 20px 14px;
}

.tab ul {
    display: flex;
    justify-content: space-between;
    float: left;
}

.tab {
    padding: 24px 0;
}

.flexedclear::after {
    content: '';
    display: block;
    clear: both;
}

.tab li {
    margin-right: 24px;
}

.tab li:last-child {
    margin-right: 0;
}

.tab a {
    border: 1px solid #000;
    padding: 10px 24px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.tab .write {
    float: right;
}

.tab .active a {
    background-color: #000;
    color: #ddd;
}

.board {
    width: 100%;
    border-top: 1px solid #000;
    font-size: 0;
}

.board_list>div {
    border-bottom: 1px solid #ddd;
}

.board_list>div:last-child,
.board_header {
    border-bottom: 1px solid #000;
}

.board_header>div,
.board_list>div>div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 15px 0;
    word-break: break-all;
}

.board_header div,
.board_list>div div {
    font-size: 1rem;
}

.board_header {
    font-weight: 700;
}

.num {
    width: 10%;
}

.board .tit {
    width: 60%;
    text-align: left;
}

.date {
    width: 10%;
}

.count {
    width: 10%;
}

.name {
    width: 10%;
}

.paging {
    text-align: center;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.paging a {
    display: inline-block;
    box-sizing: border-box;
    line-height: 2rem;
    vertical-align: middle;
    padding: 0 12px;
}

.paging .prev,
.paging .next {
    padding: 0 1rem;
}

.page_num {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
}

.paging .prev::after,
.paging .next::before {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 1px;
    background-color: #555;
    height: 1rem;
    transform: translateY(-50%);
}

.paging .prev::after {
    right: 0;
}

.paging .next::before {
    left: 0;
}

/* 글쓰기 페이지 */
.board_write {
    border-top: 1px solid #000;
}

.board_write,
.bt_wrap {
    padding-top: 20px;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 250px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #000;
    resize: vertical;
}

.board_write .title input,
.board_write .info input,
.board_write .cont input,
.cmt_write input {
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #000;
}

.cmt_write textarea{
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #000;
    min-height: 4em;
    overflow: hidden;
    resize: none;
}

.board_write .info .item_tit {
    font-size: 1rem;
}

.board_write .title .group,
.board_write .info .group,
.board_write .cont .group {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

.board_write .cont .group {
    align-items: flex-start;
}

.board_write .info {
    font-size: 0;
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    padding-top: 20px;
}

.board_write .info .group {
    flex: 1;
}

.board_write .title .item_tit,
.board_write .info .item_tit,
.board_write .cont .item_tit {
    width: 100px;
}

.board_write .item_tit{
    font-weight: 700;
}

.board_write .title .item_cont,
.board_write .cont .item_cont,
.board_write .info .item_cont {
    width: calc(100% - 100px);
}

.board_write .cont span {
    width: 100%;
    display: block;
    text-align: right;
    font-size: .9rem;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
}

.board_write .cont::after {
    content: "";
    display: block;
    clear: both;
}

.bt_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bt_wrap .left_wrap {
    display: flex;
}

.bt_wrap .btn {
    margin-left: 12px;
}

.bt_wrap .right {
    text-decoration: underline;
}

.bt_wrap .btn a{
    width: 100px;
    padding: 16px 0;
}

.btn a {
    border: 1px solid #000;
    display: block;
    box-sizing: border-box;
    text-align: center;
}

.bt_wrap .btn:last-child a {
    background: #000;
    color: white;
}

/* 글보기 페이지 */

.board_view .info,
.board_view .group,
.board_view .item_tit {
    display: flex;
    align-items: center;
}

.board_view .info .group {
    margin-right: 10px;
}

.board_view .info {
    font-size: .8rem;
    color: #666;
    flex-wrap: wrap;
    padding-top: 8px;
}

.board_view .info .item_tit::after {
    content: "|";
    font-size: .25rem;
    text-align: center;
    margin: 3px;
}

.board_view{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.board_view .title{
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
}

.board_view .cont{
    padding: 24px 0;
}

.view_bt_wrap .left_wrap{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 10px
}

.view_bt_wrap a, .cmt_write .btn a{
    padding: 12px 14px;
}

.cmt_wrap .tab{
    border-bottom: 1px solid #000;
}

.cmt_list .name, .cmt_write .cont, .cmt_write .name, .cmt_write .psword{
    font-weight: 700;
}

.cmt_list>div{
border-bottom: 1px solid #ccc;
padding: 14px 0;
}

.cmt_write{
    padding: 24px 0;
}

.cmt_write .info_g{
    display: flex;
    column-gap: 16px;
}

.cmt_write .group{
    display: flex;
    align-items: center;
    flex: 48.5%;
    margin-top: 14px;
}

.cmt_write .item_tit{
    width: 100px;
}

.cmt_write .item_cont{
    width: calc(100% - 100px);
}

.cmt_write .btn{
    padding-top: 16px;
}

/* 반응형 */
@media (max-width: 1000px) {

    .board .num,
    .board .name,
    .board .count {
        display: none;
    }

    html {
        font-size: .9rem;
    }

    .tab ul {
        padding-bottom: 24px;
    }

    .tab li {
        margin-right: 10px;
    }

    .tab a {
        padding: 10px;
    }

    .board .tit {
        width: 80%;
        padding: 0 1%;
    }

    .date {
        width: 16%;
    }

    /*글쓰기*/

    .board_write .info .group {
        flex: 100%;
    }
    
    /*글보기*/
    .board_view .count{
        display: none;
    }

    .cmt_write .info_g{
        flex-wrap: wrap;
    }


}

/* 웹 크기일 때*/
@media (min-width: 1024px) {
    .board_view, .board_view .title {
        display: grid;
        grid-template-columns: 5fr minmax(0, 66fr) 5fr;
        align-items: baseline;
    }

    .board_view .title{
        grid-template-areas:
        'count tit tit'
        ' .  info info ';
    }

    .board_view{
        grid-template-areas:
        'title title title'
        ' .  cont . ';
    }

    .board_view .title{
        grid-area: title;
    }

    .board_view .count{
        grid-area: count;
        place-self: center;
        width: fit-content
    }

    .board_view .info{
        grid-area: info;
    }

    .board_view .tit{
        grid-area: tit;
    }
    
    .board_view .cont{
        grid-area: cont;
    }

    .cmt_write .info_g .group{
        flex: 100%;
    }

}